<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ @tcgname }}: {{ @member.name }} Leveled Up!</title>
</head>

<body>

<p>Someone has completed the <strong>Level Up</strong> form at {{ @tcgname }}!</p>

<p>
<strong>Name:</strong> {{ @member.name }}
<br><strong>Email:</strong>  {{ @member.email }}
<br><strong>Trade Post:</strong>  {{ @member.url }}
<br><strong>New Level:</strong>  {{ @member.level }}
</p>

</body>
</html>