<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ @tcgname }}: Affiliation Request</title>
</head>

<body>

<p>The following site would like to become an affiliate with <strong>{{ @tcgname }}</strong>:</p>

<p>
<strong>Owner's Name:</strong> {{ @POST.name }}
<br><strong>TCG Name:</strong> {{ @POST.tcgname }}
<br><strong>Email:</strong>  {{ @POST.email }}
<br><strong>TCG URL:</strong>  {{ @POST.url }}
<br><strong>Button URL:</strong>  {{ @POST.button }}
</p>

<p>To approve this affiliate, go to your <a href="{{ @adminurl }}">admin panel</a>.</p>

</body>
</html>