<h1>Upcoming Cards</h1>
<p>Below you will find all of the upcoming card decks here at {{ @tcgname }}.</p>

<check if="{{ count(@decks) > 0 }}">
	<true>
		<table class="table">
			<thead>
				<tr>
					<th>Deck Name</th>
					<th>Description</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody class="table-hover">
			<repeat group="{{ @decks }}" value="{{ @deck }}">
				<tr>
					<td>{{ @deck.deckname }}</a></td>
					<td>{{ @deck.description }}</td>
					<td>{{ @category[@deck.category] }}</td>
				</tr>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		There are currently no upcoming decks.
	</false>
</check>