<h2>Member Card Request</h2>
<check if="{{ @member.membercard == 'No' }}">
	<true>
		<form method="post">
			<div class="form-group">
				<label for="image">Image</label>
				<input type="url" name="image" class="form-control" placeholder="http://" required>
			</div>
			<div class="form-group">
				<label for="color">Color</label>
				<input type="text" name="color" class="form-control" placeholder="#000000" required>
			</div>
			<button type="submit" class="btn btn-primary" name="mcrequest">Submit</button>
		</form>
	</true>
	<false>
		<p><em>You already have a member card!</em></p>
	</false>
</check>