<h1>Cards > Alphabetically</h1>
<ul>
	<li><strong>#</strong> = card count</li>
	<li><strong>$</strong> = card worth</li>
	<li><a href="{{ @tcgurl }}cards">Sort by Category</a></li>
	<li><a href="{{ @tcgurl }}cards/members">Member Cards</a></li>
	<li><a href="{{ @tcgurl }}cards/upcoming">Upcoming Decks</a></li>
</ul>


<check if="{{ count(@decks) > 0 }}">
	<true>
		<table class="table">
			<thead>
				<tr>
					<th>Deck Name</th>
					<th>Description</th>
					<th>#/$</th>
				</tr>
			</thead>
			<tbody class="table-hover">
			<repeat group="{{ @decks }}" value="{{ @deck }}">
				<tr>
					<td><a href="{{ @tcgurl }}cards/view/{{ @deck.filename }}">{{ @deck.deckname }}</a></td>
					<td>{{ @deck.description }}</td>
					<td>{{ @deck.count }}/{{ @deck.worth }}</td>
				</tr>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		<p><em>There are no decks to display!</em></p>
	</false>
</check>