<h2>Quit Form</h2>
<p>If you just need a break, you can change your <em>Status</em> to <strong><em>Hiatus</em></strong> within your <a href="{{ @tcguri }}members/settings">Account Settings</a>. However, if you're sure that you want to leave and would like your account <strong>removed</strong>, we'd appreciate your feedback!</p>

<form method="post">
	<div class="form-group">
		<label for="message">Message</label>
		<textarea name="message" class="form-control" rows="3" placeholder="Please let us know why you've decided to leave!"></textarea>
	</div>
	<button type="submit" class="btn btn-primary" name="quit">Submit</button>
</form>