<h1>Games</h1>

<check if="{{ count(@gamecat) > 0 }}">
	<true>
		<repeat group="{{ @gamecat }}" value="{{ @cat }}" key="{{ @index }}">
			<h2>{{ @cat }}</h2>
			
			<!-- Display games from {{ @cat }} -->
			<check if="{{ count(@games[@index]) > 0 }}">
				<true>
					<table class="table">
						<thead>
							<tr>
								<th>Game</th>
								<th>Description</th>
								<th>Last Updated</th>
							</tr>
						</thead>
						<tbody class="table-hover">
						<repeat group="{{ @games[@index] }}" value="{{ @game }}">
							<tr>
								<td><a href="{{ @tcgurl }}games/view/{{ @game.name }}">{{ @gameData[@game.id]['long-name'] }}</a></td>
								<td>{{ @game.description }}</td>
								<td>{{ date("D, d M Y", @game.updated) }}</td>
							</tr>
						</repeat>
						</tbody>
					</table>
				</true>
				<false>
					<p><em>There are no cards in this category!</em></p>
				</false>
			</check>
			
		</repeat>
	</true>
	<false>
		<p><em>There are no categories!</em></p>
	</false>
</check>