<h1>Fat-Free MyTCG</h1>
<p><strong>MyTCG-f3</strong> is a new project to rebuild and improve the features of the original MyTCG script in order to provide MyTCG users a more stable and secure TCG management option.</p>

<p>Features introduced in MyTCG-f3 include:</p>

<ul>
	<li>Implements <a href="http://fatfreeframework.com/home">Fat-Free Framework</a> (F3)</li>
	<li><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC-style structure</a></li>
	<li><strong>Parameterized queries</strong> & <strong>password_hash()</strong> for increased security</li>
	<li><strong>SwiftMailer</strong> integration. Simplifies the use of SMTP, HTML emails, and automatic multipart support for improved email deliverability</li>
	<li>Semantic URLs</li>
	<li>Supports <strong>Bootstrap</strong> styles out of the box (or you can just remove the included styles and templates to rock your own)</li>
	<li>Lots of things have been re-organized and a few things removed to make things as clean and simple as possible!</li>
</ul>

<h2>Try it Now!</h2>
<a href="https://github.com/tooblue/mytcg-f3" class="btn btn-primary btn-lg">Download on GitHub</a>