<h1>Account Settings</h1>

<form method="post">
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" class="form-control" name="email" placeholder="your@email.com" value="{{ isset(@POST.email) ? @POST.email : @member.email }}" required>
	</div>
	<div class="form-group">
		<label for="url">Trade Post URL</label>
		<input type="url" class="form-control" name="url" placeholder="http://" value="{{ isset(@POST.url) ? @POST.url : @member.url }}" required>
	</div>
	<div class="form-group">
		<label for="collecting">Collecting</label>
		<select class="form-control" name="collecting" required>
			<option value="">Select One:</option>
			<repeat group="{{ @decks }}" value="{{ @deck }}">
				<option value="{{ @deck.id }}" {{ ( (isset(@collectingID) && @collectingID == @deck.id ) || (isset(@POST.collecting) && @POST.collecting == @deck.id) || (!isset(@POST.collecting) && @member.collecting == @deck.filename) ) ? 'selected' : '' }}>{{ @deck.filename }}</option>
			</repeat>
		</select>
	</div>
	<div class="form-group">
		<label for="status">Status</label>
		<select class="form-control" name="status" {{ ( @member.status == 'Pending' ) ? 'disabled' : '' }} required>
			<repeat group="{{ @status }}" value="{{ @stat }}">
				{{ ( @member.status == 'Pending' ) ? '<option value="Pending" selected>Pending</option>' : '' }}
				<option value="{{ @stat }}" {{ ( (isset(@POST.status) && @POST.status == @stat) || (!isset(@POST.status) && @member.status == @stat) ) ? 'selected' : '' }}>{{ @stat }}</option>
			</repeat>
		</select>
	</div>
	
	<hr>
	
	<h2>Change Password</h2>
	<p>Leave this blank if you're not changing your password!</p>
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" pattern=".{6,}" title="Your password must contain at least 6 characters!">
		</div>
		<div class="col-sm-6 form-group">
			<label for="password2">Confirm Password</label>
			<input type="password" class="form-control" name="password2">
		</div>
	</div>
	
	<hr>
	
	<h2>Profile</h2>
	<div class="form-group">
		<label for="biography">About Me</label>
		<textarea class="form-control" name="biography" rows="3">{{ ( isset(@POST.biography) ) ? @POST.biography : @member.biography }}</textarea>
	</div>
	<div class="form-group">
		<label for="wishlist">Wishlist</label>
		<textarea class="form-control" name="wishlist" rows="3">{{ ( isset(@POST.wishlist) ) ? @POST.wishlist : @member.wishlist }}</textarea>
	</div>
	
	<hr>
	
	<button type="submit" name="update" class="btn btn-primary">Update Settings</button>
</form>