<div class="row">
	<div class="col-lg-7 col-md-12">
		<div class="row dashboard-stats">
			<div class="col-sm-6">
				<div class="panel panel-danger">
					<div class="panel-body">
						<div class="fa-stack fa-3x pull-left">
							<i class="fa fa-circle fa-stack-2x text-danger"></i>
							<i class="fa fa-users fa-stack-1x fa-inverse"></i>
						</div>
						<p class="h2 text-danger">56</p>
						<p class="text-muted">Members</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-warning">
					<div class="panel-body">
						<div class="fa-stack fa-3x pull-left">
						  <i class="fa fa-circle fa-stack-2x text-warning"></i>
						  <i class="fa fa-th-large fa-stack-1x fa-inverse"></i>
						</div>
						<p class="h2 text-warning">2500</p>
						<p class="text-muted">Cards</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-success">
					<div class="panel-body">
						<div class="fa-stack fa-3x pull-left">
						  <i class="fa fa-circle fa-stack-2x text-success"></i>
						  <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
						</div>
						<p class="h2 text-success">16</p>
						<p class="text-muted">Games</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-info">
					<div class="panel-body">
						<div class="fa-stack fa-3x pull-left">
						  <i class="fa fa-circle fa-stack-2x text-info"></i>
						  <i class="fa fa-link fa-stack-1x fa-inverse"></i>
						</div>
						<p class="h2 text-info">25</p>
						<p class="text-muted">Affiliates</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5 col-md-12">
		<check if="{{ file_exists('storage/admin-notes.txt') }}">
			<true>
				<textarea id="admin-notes"><include href="{{ 'storage/admin-notes.txt' }}" /></textarea>
			</true>
			<false>
				<em>Oops - MyTCG-f3 can't find your notes! Make sure you have an 'admin-notes.txt' file in your "storage" directory!</em>
			</false>
		</check>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2 class="sub-header">Pending Members</h2>
		
		<check if="{{ count(@pendingMembers) > 0 }}">
			<true>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th><th>Website</th><th>&nbsp;</th>
						</tr>
					</thead>
					<tbody class="table-hover">
						<repeat group="{{ @pendingMembers }}" value="{{ @member }}">
							<tr>
								<td><a href="{{ @tcgurl }}members/profile/{{ @member.name }}">{{ @member.name }}</a></a></td>
								<td><a href="{{ @member.url }}">{{ @member.url }}</a></td>
								<td>
									<form method="post">
										<input type="hidden" name="id" value="{{ @member.id }}">
										
										<div class="btn-group" role="group">
											<button class="btn btn-xs btn-danger trigger-alert" data-alert-title="Confirm Delete" data-alert-msg="Are you sure that you want to remove {{ @member.name }} from the members list? This action can't be undone." type="submit" name="delete-member-submit"><i class="fa fa-times"></i></button>
											<button class="btn btn-xs btn-success" type="submit" name="approve-member-submit"><i class="fa fa-check"></i></button>
										</div>
									</form>
								</td>
							</tr>
						</repeat>
					</tbody>
				</table>
			</true>
			<false>
				<p><em>There are no pending members!</em></p>
			</false>
		</check>
	</div>
	<div class="col-lg-4">
		<h2 class="sub-header">Upcoming Decks</h2>
		
		<check if="{{ count(@upcomingDecks) > 0 }}">
			<true>
				<table class="table">
					<thead>
						<tr>
							<th>Deck Name</th>
							<th>Category</th>
						</tr>
					</thead>
					<tbody class="table-hover">
					<repeat group="{{ @upcomingDecks }}" value="{{ @deck }}">
						<tr>
							<td>{{ @deck.deckname }}</a></td>
							<td>{{ @category[@deck.category] }}</td>
						</tr>
					</repeat>
					</tbody>
				</table>
			</true>
			<false>
				There are currently no upcoming decks.
			</false>
		</check>
	</div>
	<div class="col-lg-4">
		<h2 class="sub-header">Game Updates</h2>
	</div>
</div>