<form id="new-affiliate-form" method="post">
	<div class="form-group">
		<label for="name">Owner's Name</label>
		<input type="text" class="form-control" name="name" value="{{ isset(@POST['new-affiliate-submit']) ? @POST.name : '' }}" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" value="{{ isset(@POST['new-affiliate-submit']) ? @POST.email : '' }}" required>
	</div>
	<div class="form-group">
		<label for="tcgname">TCG Name</label>
		<input type="text" class="form-control" name="tcgname" value="{{ isset(@POST['new-affiliate-submit']) ? @POST.tcgname : '' }}" required>
	</div>
	<div class="form-group">
		<label for="url">URL</label>
		<input type="url" class="form-control" name="url" value="{{ isset(@POST['new-affiliate-submit']) ? @POST.url : '' }}" required>
	</div>
	<div class="form-group">
		<label for="button">Button URL</label>
		<input type="url" class="form-control" name="button" value="{{ isset(@POST['new-affiliate-submit']) ? @POST.button : '' }}" required>
	</div>
	<div class="form-group">
		<label for="status">Status</label>
		<select class="form-control" name="status" required>
			<repeat group="{{ @affiliates_status }}" value="{{ @status }}">
				<option>{{ @status }}</option>
			</repeat>
		</select>
	</div>
</form>