<form id="edit-affiliate-form" method="post">
	<input type="hidden" name="id" value="{{ @affiliate.id }}">
	<div class="form-group">
		<label for="name">Owner's Name</label>
		<input type="text" class="form-control" name="name" value="{{ isset(@POST['edit-affiliate-submit']) ? @POST.name : @affiliate.name }}" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" value="{{ isset(@POST['edit-affiliate-submit']) ? @POST.email : @affiliate.email }}" required>
	</div>
	<div class="form-group">
		<label for="tcgname">TCG Name</label>
		<input type="text" class="form-control" name="tcgname" value="{{ isset(@POST['edit-affiliate-submit']) ? @POST.tcgname : @affiliate.tcgname }}" required>
	</div>
	<div class="form-group">
		<label for="url">URL</label>
		<input type="url" class="form-control" name="url" value="{{ isset(@POST['edit-affiliate-submit']) ? @POST.url : @affiliate.url }}" required>
	</div>
	<div class="form-group">
		<label for="button">Button URL</label>
		<input type="url" class="form-control" name="button" value="{{ isset(@POST['edit-affiliate-submit']) ? @POST.button : @affiliate.button }}" required>
	</div>
	<div class="form-group">
		<label for="status">Status</label>
		<select class="form-control" name="status" required>
			<repeat group="{{ @affiliates_status }}" value="{{ @status }}">
				<check if="{{ isset(@POST['edit-affiliate-submit']) }}">
					<true>
						<option {{ @POST.status == @status ? 'selected' : '' }}>{{ @status }}</option>
					</true>
					<false>
						<option {{ @affiliate.status == @status ? 'selected' : '' }}>{{ @status }}</option>
					</false>
				</check>
			</repeat>
		</select>
	</div>
</form>