<h1>Edit {{ @member.name }}</h1>
<div>
	<form method="post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" name="name" pattern="^[\w\-]{2,30}$" title="Your name must be between 2-30 characters. Only numbers, letters, underscores, and dashes are allowed." value="{{ isset(@member.name) ? @member.name : '' }}" required>
		</div>
		<div class="form-group">
			<label for="email">Email Address</label>
			<input type="email" class="form-control" name="email" placeholder="your@email.com" value="{{ isset(@member.email) ? @member.email : '' }}" required>
		</div>
		<div class="form-group">
			<label for="url">Trade Post URL</label>
			<input type="url" class="form-control" name="url" placeholder="http://" value="{{ isset(@member.url) ? @member.url : '' }}" required>
		</div>
		<div class="form-group">
			<label for="birthday">Birthday</label>
			<select class="form-control" name="birthday" required>
				<option value="">Select One:</option>
				<repeat group="{{ @months }}" value="{{ @month }}">
					<option value="{{ @month }}" {{ ( isset(@member.birthday) && @member.birthday == @month ) ? 'selected' : '' }}>
						{{ date("F", strtotime("1 @month")) }}
					</option>
				</repeat>
			</select>
		</div>
		<div class="form-group">
			<label for="collecting">Collecting</label>
			<select class="form-control" name="collecting" required>
				<option value="">Select One:</option>
				<repeat group="{{ @decks }}" value="{{ @deck }}">
					<option value="{{ @deck.id }}" {{ ( isset(@member.collecting) && @member.collecting == @deck.filename ) ? 'selected' : '' }}>{{ @deck.filename }}</option>
				</repeat>
			</select>
		</div>
		<div class="form-group">
			<label for="status">Status</label>
			<select class="form-control" name="status" {{ ( @member.status == 'Pending' ) ? 'disabled' : '' }} required>
				<repeat group="{{ @status }}" value="{{ @stat }}">
					{{ ( @member.status == 'Pending' ) ? '<option value="Pending" selected>Pending</option>' : '' }}
					<option value="{{ @stat }}" {{ (isset(@member.status) && @member.status == @stat) ? 'selected' : '' }}>{{ @stat }}</option>
				</repeat>
			</select>
		</div>
		<button type="submit" name="edit" class="btn btn-primary">Submit</button> 
		<a href="{{ @tcgurl }}mytcg/members" class="btn btn-default">Back</a>
	</form>
</div>
