<form id="add-plugin-form" method="post">
	
	<div class="tab-content">
		
		<!------ REGISTRY ------>
	    <div role="tabpanel" class="tab-pane active" id="registry">
	    	
	    	<p>Select one or more plugins from the registry below to automatically install from GitHub.</p>
	
			<table class="table">
				<thead>
					<th>&nbsp;</th>
					<th>Name</th>
					<th>Author</th>
					<th >Description</th>
				</thead>
				<repeat group="{{ @registry }}" value="{{ @plugin }}" key="{{ @package }}">
					<tr>
						<td data-add-plugin-id="{{ @package }}">
							<input type="checkbox" name="plugins[]" value="{{ @package }}">
						</td>
						<td><a href="{{ ( isset(@plugin.supportUrl) && @plugin.supportUrl != "" ) ? @plugin.supportUrl : 'https://github.com/' . @package }}">{{ @plugin.name }}</a></td>
						<td><a href="{{ ( isset(@plugin.authorUrl) && @plugin.authorUrl != "" ) ? @plugin.authorUrl : 'https://github.com/' . @package }}">{{ @plugin.author }}</a></td>
						<td>{{ @plugin.description }}</td>
					</tr>
				</repeat>
			</table>
		
		</div>
		
		<!------ MANUAL INSTALL ------>
	    <div role="tabpanel" class="tab-pane" id="manual">
	    	
	    	<p>You can upload a plugin's .ZIP file below, and MyTCG-f3 will attempt to install it.</p>
	    	
	    </div>
	    
	</div>

</form>