<h1>Installed Plugins</h1>

<div id="plugins">
	
	<div class="row">
		<div class="col-sm-8">

		</div>
		<div class="col-sm-4">
			<div class="input-group pull-right">
				<input type="text" class="form-control search" placeholder="Search plugins by name...">
				<span class="input-group-btn">
			        <button class="btn btn-primary" data-toggle="modal" data-target="#add-plugin-modal"><i class="fa fa-plus"></i> &nbsp; Add Plugins</button>
			    </span>
			</div>
		</div>
	</div>
	
	<hr>
	<!-- Display all installed plugins -->
	<check if="{{ count(@plugins) > 0 }}">
		<true>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Version</th>
						<th>Author</th>
						<th>Status</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody class="list">
					<repeat group="{{ @plugins }}" value="{{ @plugin }}">
						<tr class="{{ ( @plugin.enabled ) ? '' : 'active' }}">
							<td><a href="{{ ( isset(@plugin.config.supportUrl) && @plugin.config.supportUrl != "" ) ? @pluggin.config.supportUrl : 'https://github.com/' . @plugin.package }}" target="_blank">{{ @plugin.config.name }}</a></td>
							<td>{{ @plugin.config.version }}</td>
							<td><a href="{{ @plugin.config.authorUrl }}" target="_blank">{{ @plugin.config.author }}</a></td>
							<td>{{ ( @plugin.enabled ) ? 'Enabled' : 'Disabled' }}</td>
							
							<td>
								<form method="post">
									<input type="hidden" name="id" value="{{ @plugin._id }}">
									
									<div class="btn-group btn-cells pull-right" role="group">
										<button type="button" class="btn btn-default" data-plugin-id="{{ @plugin._id }}" data-toggle="modal" data-target="#edit-plugin-modal"><i class="fa fa-pencil"></i></button>
										<button class="btn btn-danger trigger-alert" data-alert-title="Confirm Delete" data-alert-msg="Are you sure that you want to uninstall the {{ @plugin.config.name }} plugin? All related data will be permanently removed." type="submit" name="delete-plugin-submit"><i class="fa fa-times"></i></button>
										<button class="btn btn-success trigger-alert" data-alert-title="Confirm Update" data-alert-msg="Are you sure that you want to update the {{ @plugin.config.name }} plugin?" type="submit" name="update-plugin-submit"><i class="fa fa-arrow-up"></i></button>
									</div>
								</form>
							</td>
						</tr>
					</repeat>
				</tbody>
			</table>
		</true>
		<false>
			<p><em>You haven't installed any plugins yet!</em></p>
		</false>
	</check>

</div>

<div class="modal fade" id="add-plugin-modal" tabindex="-1" role="dialog" aria-labelledby="add-plugin-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#registry" aria-controls="registry" role="tab" data-toggle="tab">Registry</a></li>
					<li role="presentation"><a href="#manual" aria-controls="manual" role="tab" data-toggle="tab">Manual Install</a></li>
				</ul>
			</div>
			<div class="modal-body">
				
				<p>Loading...</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" name="add-plugin-submit" form="add-plugin-form">Install</button>
			</div>
		</div>
	</div>
</div>