<?php require('check.php'); 
require_once('settings.php');
include('header.php'); ?>
<h1>Affiliates</h1>
&raquo; Do you want to <a href="add_affiliate.php">add an affiliate</a>?<br />
&raquo; Need to email <a href="email_allaffiliates.php">all affiliates</a>?
<br /><br />

<?php
for($i=1; $i<=$num_affiliates; $i++) {
	$select = mysql_query("SELECT * FROM `$table_affiliates` WHERE `status`='$affiliates[$i]' ORDER BY `name`");
	$count = mysql_num_rows($select);
	echo "<h1>$affiliates[$i] Affiliates</h1>\n";
	
	if($count==0) {
		echo "There are currently no affiliates in this category.\n";
		echo "<br /><br />\n\n";
	}
	else {
		echo "<table width=\"100%\">\n";
		echo "<tr><td width=\"50%\"><b>Action</b></td><td width=\"25%\"><b>Affiliate</b></td><td width=\"25%\"><b>Email</b></td></tr>\n";
		while($row=mysql_fetch_assoc($select)) {
			echo "<tr><td><a href=\"edit_affiliate.php?id=$row[id]\">Edit</a> | <a href=\"delete_affiliate.php?id=$row[id]\">Delete</a>";
			if($row[status]=="Pending") {
				echo " | <a href=\"approve_affiliate.php?id=$row[id]\">Approve</a>";
			}
			echo "</td><td><a href=\"$row[url]\" target=\"_blank\"><img src=\"$buttonurl$row[button]\" title=\"$row[tcgname]\" alt=\"$row[tcgname]\"></a></td><td><a href=\"email_affiliate.php?id=$row[id]\">Email?</a></td></tr>\n";
		}
		echo "</table>\n";
		echo "<br /><br />\n\n";
	}
}

include('footer.php'); ?>