<h1>Add New Deck</h1>
<div>
	<form method="post">
		<div class="form-group">
			<label for="filename">Filename</label>
			<input type="text" class="form-control" name="filename" pattern="^[\w\-]{2,30}$" title="Filename must be between 2-30 characters. Only numbers, letters, underscores, and dashes are allowed." value="" required>
		</div>
		<div class="form-group">
			<label for="deckname">Deck name</label>
			<input type="text" class="form-control" name="deckname" required>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" name="description">
		</div>
		<div class="form-group">
			<label for="category">Category</label>
			<select class="form-control" name="category" required>
				<option value="">Select One:</option>
				<repeat group="{{ @category }}" key="{{ @key }}" value="{{ @cat }}">
					<option value="{{ @key }}">
						{{ @cat }}
					</option>
				</repeat>
			</select>
		</div>
		<div class="form-group">
			<label for="count">Count</label>
			<input type="text" class="form-control" name="count" value="20" required>
		</div>
		<div class="form-group">
			<label for="worth">Worth</label>
			<input type="text" class="form-control" name="worth" value="1" required>
		</div>
		<div class="form-group">
			<label for="masterable">Masterable</label>
			<select class="form-control" name="masterable" required>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
			</select>
		</div>
		<div class="form-group">
			<label for="puzzle">Puzzle?</label>
			<label class="radio-inline">
				<input type="radio" name="puzzle" id="puzzle1" value="Yes" checked> Yes
			</label>
			<label class="radio-inline">
				<input type="radio" name="puzzle" id="puzzle2" value="No"> No
			</label>
		</div>

		<button type="submit" name="add" class="btn btn-primary">Submit</button> 
		<a href="{{ @tcgurl }}mytcg/cards" class="btn btn-default">Back</a>
	</form>
</div>
