<?php require('check.php'); 
require_once('settings.php');
include('header.php'); ?>
<h1>Card Decks</h1>
&raquo; Do you want to <a href="add_cards.php">add a card deck</a>?<br />
&raquo; Do you want to <a href="add_upcoming.php">add an upcoming deck</a>?
<br /><br />

<h1>Upcoming Decks</h1>
<?php
$select2 = mysql_query("SELECT * FROM `$table_upcoming` ORDER BY `deckname`");
$count = mysql_num_rows($select2);

if($count==0) {
	echo "There are currently no upcoming decks.\n";
	echo "<br /><br />\n\n";
}
else {
	echo "<table width=\"100%\">\n";
	echo "<tr><td width=\"25%\"><b>Action</b></td><td width=\"50%\"><b>Deckname</b></td><td width=\"25%\"><b>Category</b></td></tr>\n";
	while($row2=mysql_fetch_assoc($select2)) {
		$cat=$row2[category];
		echo "<tr><td><a href=\"edit_upcoming.php?id=$row2[id]\">Edit</a> | <a href=\"delete_upcoming.php?id=$row2[id]\">Delete</a></td><td>$row2[deckname]</td><td>$category[$cat]</td></tr>\n";
	}
	echo "</table>\n";
	echo "<br /><br />\n";
}

for($i=1; $i<=$num_categories; $i++) {
	$catnum = $i;
	$select = mysql_query("SELECT * FROM `$table_cards` WHERE `category`='$catnum' ORDER BY `filename`");
	$count = mysql_num_rows($select);
	echo "<h1>$category[$i]</h1>\n";
	
	if($count==0) {
		echo "There are currently no card decks in this category.\n";
		echo "<br /><br />\n\n";
	}
	else {
		echo "<table width=\"100%\">\n";
		echo "<tr><td width=\"34%\"><b>Action</b></td><td width=\"33%\"><b>Filename</b></td><td width=\"33%\"><b>Count/Worth</b></td></tr>\n";
		while($row=mysql_fetch_assoc($select)) {
			echo "<tr><td><a href=\"edit_cards.php?id=$row[id]\">Edit</a> | <a href=\"delete_cards.php?id=$row[id]\">Delete</a></td><td>$row[filename]</td><td>$row[count]/$row[worth]</td></tr>\n";
		}
		echo "</table>";
		echo "<br /><br />\n\n";
	}
}

include('footer.php'); ?>