<form id="edit-cards-form" method="post">
	<input type="hidden" name="id" value="{{ @deck.id }}">
	<input type="hidden" name="original-status" value="{{ @status }}">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="category">Category</label>
				<select class="form-control" name="category" required>
					<repeat group="{{ @category }}" value="{{ @cat }}" key="{{ @index }}">
						<option value="{{ @index }}" {{ ( isset(@POST['edit-cards-submit']) && @POST.category == @index ) || @deck.category == @index? 'selected' : '' }}>{{ @cat }}</option>
					</repeat>
				</select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="status">Status</label>
				<select class="form-control" name="status" required>
					<option {{ ( isset(@POST['edit-cards-submit']) && @POST.status == 'Upcoming' ) || @status == 'Upcoming' ? 'selected' : '' }}>Upcoming</option>
					<option {{ ( isset(@POST['edit-cards-submit']) && @POST.status == 'Released' ) || @status == 'Released' ? 'selected' : '' }}>Released</option>
				</select>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="deckname">Deck Name</label>
		<input type="text" class="form-control" name="deckname" value="{{ isset(@POST['edit-cards-submit']) ? @POST.deckname : isset(@deck.deckname) ? @deck.deckname : '' }}" required>
	</div>
	<div class="form-group">
		<label for="filename">File Name</label>
		<input type="text" class="form-control" name="filename" value="{{ isset(@POST['edit-cards-submit']) ? @POST.filename : isset(@deck.filename) ? @deck.filename : '' }}">
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="count">Card Count</label>
				<input type="number" class="form-control" name="count" value="{{ isset(@POST['edit-cards-submit']) ? @POST.count : isset(@deck.count) ? @deck.count : '' }}">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="worth">Card Worth</label>
				<input type="number" class="form-control" name="worth" value="{{ isset(@POST['edit-cards-submit']) ? @POST.worth : isset(@deck.worth) ? @deck.worth : '' }}">
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="masters">Masters</label>
		<textarea class="form-control" name="masters" rows="3">{{ isset(@POST['edit-cards-submit']) ? @POST.masters : isset(@deck.masters) ? @deck.masters : '' }}</textarea>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" name="description" rows="3">{{ isset(@POST['edit-cards-submit']) ? @POST.description : isset(@deck.description) ? @deck.description : '' }}</textarea>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="puzzle" value="Yes" {{ ( isset(@POST['edit-cards-submit']) && isset(@POST.puzzle) ) || ( isset(@deck.puzzle) && @deck.puzzle == 'Yes' )  ? 'checked' : '' }}> 
			Is this a puzzle deck?
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" name="masterable" value="Yes" {{ ( isset(@POST['edit-cards-submit']) &&  isset(@POST.masterable) ) || ( isset(@deck.masterable) && @deck.masterable == 'Yes' )  ? 'checked' : '' }}> 
			Is this deck masterable?
		</label>
	</div>
</form>