<?php require_once('settings.php');
include('header.php');

$connect = mysql_connect("$db_server", "$db_user", "$db_password");
mysql_select_db("$db_database", $connect);

$create_cards = "CREATE TABLE `$table_cards` (
   `id` INT(6) NOT NULL AUTO_INCREMENT,
   `filename` VARCHAR(50) NOT NULL,
   `deckname` VARCHAR(100) NOT NULL,
   `description` VARCHAR(255) NOT NULL,
   `category` INT(2) NOT NULL,
   `count` INT(2) NOT NULL,
   `worth` INT(2) NOT NULL,
   `masterable` VARCHAR(30) NOT NULL,
   `masters` LONGTEXT NOT NULL,
   `puzzle` varchar(3) NOT NULL,
PRIMARY KEY (`id`))";

if (mysql_query($create_cards, $connect)) {
   echo "The table $table_cards was successfully created.<br />\n";
}
else {
   die("Error: ". mysql_error());
}

$create_upcoming = "CREATE TABLE `$table_upcoming` (
   `id` INT(6) NOT NULL AUTO_INCREMENT,
   `description` VARCHAR(255) NOT NULL,
   `deckname` VARCHAR(100) NOT NULL,
   `category` INT(2) NOT NULL,
PRIMARY KEY (`id`))";

if (mysql_query($create_upcoming, $connect)) {
   echo "The table $table_upcoming was successfully created.<br />\n";
}
else {
   die("Error: ". mysql_error());
}

$create_members = "CREATE TABLE `$table_members` (
   `id` INT(6) NOT NULL AUTO_INCREMENT,
   `name` VARCHAR(50) NOT NULL,
   `email` VARCHAR(255) NOT NULL,
   `url` VARCHAR(255) NOT NULL,
   `birthday` VARCHAR(3) NOT NULL,
   `status` VARCHAR(15) NOT NULL,
   `password` VARCHAR(100) NOT NULL,
   `level` INT(3) NOT NULL,
   `collecting` VARCHAR(50) NOT NULL,
   `membercard` VARCHAR(3) NOT NULL,
   `mastered` LONGTEXT NOT NULL,
   `wishlist` LONGTEXT NOT NULL,
   `biography` LONGTEXT NOT NULL,
PRIMARY KEY (`id`))";

if (mysql_query($create_members, $connect)) {
   echo "The table $table_members was successfully created.<br />\n";
}
else {
   die("Error: ". mysql_error());
}

$create_affiliates = "CREATE TABLE `$table_affiliates` (
	   `id` INT(6) NOT NULL AUTO_INCREMENT,
	   `name` VARCHAR(50) NOT NULL,
	   `email` LONGTEXT NOT NULL,
	   `tcgname` VARCHAR(100) NOT NULL,
	   `url` VARCHAR(255) NOT NULL,
	   `button` LONGTEXT NOT NULL,
	   `status` VARCHAR(15) NOT NULL,
	PRIMARY KEY (`id`))";

if (mysql_query($create_affiliates, $connect)) {
   echo "The table $table_affiliates was successfully created.<br />\n";
}
else {
   die("Error: ". mysql_error());
}

$create_games = "CREATE TABLE `$table_games` (
	   `id` INT(6) NOT NULL AUTO_INCREMENT,
	   `name` VARCHAR(50) NOT NULL,
	   `description` LONGTEXT NOT NULL,
	   `category` VARCHAR(100) NOT NULL,
	   `updated` VARCHAR(50) NOT NULL,
	   `pass_type` VARCHAR(5) NOT NULL,
	   `pass_clue` VARCHAR(255) NOT NULL,
	   `pass_answer` VARCHAR(60) NOT NULL,
	   `password` VARCHAR(50) NOT NULL,
	   `regular` INT(2) NOT NULL,
	   `special` INT(2) NOT NULL,
	   `extras` LONGTEXT NOT NULL,
	PRIMARY KEY (`id`))";

if (mysql_query($create_games, $connect)) {
   echo "The table $table_games was successfully created.<br />\n";
}
else {
   die("Error: ". mysql_error());
}

echo "For security purposes, please remove this file from your server!\n";

include('footer.php'); ?>