<form id="edit-game-form" method="post">
	<input type="hidden" name="id" value="{{ @game.id }}">
	<input type="hidden" name="dataId" value="{{ @gameData._id }}">
	
	<div class="tab-content">
		
		<!------ SETTINGS ------>
	    <div role="tabpanel" class="tab-pane active" id="settings">
	    	<div class="form-group">
				<label for="long-name">Game Name</label> <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" title="The display name for your game. It doesn't have to be unique, and can contain special characters."></i>
				<input type="text" class="form-control" name="long-name" placeholder="ie. Spin The Wheel!" value="{{ isset(@POST['new-game-submit']) ? @POST['long-name'] : @gameData['long-name'] }}" required>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="name">Game Alias</label> <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" title="A unique name for the game URI. Only lower-case, alphanumeric characters and dashes are allowed."></i>
						<input type="text" class="form-control" name="name" placeholder="ie. spin-the-wheel" value="{{ isset(@POST['new-game-submit']) ? @POST.name : @game.name }}" required>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control" name="category" required>
							<repeat group="{{ @gamecat }}" value="{{ @cat }}" key="{{ @index }}">
								<option value="{{ @index }}" {{ ( isset(@POST['edit-game-submit']) && @POST.category === @index ) || @game.category == @index ? 'selected' : '' }}>{{ @cat }}</option>
							</repeat>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="schedule-day">Update Schedule</label> <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" title="Note that this feature will NOT automatically push updates for you! This schedule allows MyTCG-f3 to keep track of your upcoming due dates, and bulk update due games for you on command."></i>
						<div class="row">
							<div class="col-sm-6">
								<select class="form-control" name="schedule-day" required>
									<repeat group="{{ @scheduleDays }}" value="{{ @day }}" key="{{ @key }}">
										<option value="{{ @key }}" {{ ( isset(@POST['edit-game-submit']) && @POST['schedule-day'] === @key ) || @gameData['schedule-day'] === @key ? 'selected' : '' }}>{{ @day }}</option>
									</repeat>
								</select>
							</div>
							<div class="col-sm-6">
								<select class="form-control" name="schedule-frequency" required>
									<repeat group="{{ @scheduleFrequencies }}" value="{{ @frequency }}" key="{{ @key }}">
										<option value="{{ @key }}" {{ ( isset(@POST['edit-game-submit']) && @POST['schedule-frequency'] === @key ) || @gameData['schedule-frequency'] === @key ? 'selected' : '' }}>{{ @frequency }}</option>
									</repeat>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="updated">Last Updated</label>
						<input type="date" class="form-control" name="updated" value="{{ date('Y-m-d', @game.updated) }}">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control" name="description" value="{{ isset(@POST['edit-game-submit']) ? @POST.description : @game.description }}">
			</div>
			
			<div class="form-group">
				<label for="fields">Game Variables</label> <i class="fa fa-question-circle pull-right" data-toggle="tooltip" data-placement="top" title="Comma separated list of variables for your game."></i>
				<input type="text" class="form-control" name="fields" value="{{ isset(@POST['edit-game-submit']) ? @POST.fields : implode(', ', @gameData.fields) }}">
			</div>	
	    </div>
	    
	    <!------ ROUNDS ------>
	    <div role="tabpanel" class="tab-pane" id="rounds">
	    	<div class="panel-group" id="game-rounds" role="tablist" aria-multiselectable="true">
	    		
	    		<check if="{{ count(@gameData.fields) > 0 }}">
	    			<true>
				    	<repeat group="{{ @gameData.rounds }}" value="{{ @round }}" key="{{ @index }}">
				    		<div class="panel {{ ( @gameData['current-round'] == @index + 1 ) ? 'panel-primary' : 'panel-default' }}">
				    			<div class="panel-heading" role="tab" id="round{{ @index + 1 }}-header" data-toggle="collapse" data-parent="#game-rounds" href="#round{{ @index + 1 }}-collapse" aria-expanded="{{ ( @gameData['current-round'] == @index + 1 ) ? 'true' : 'false' }}" aria-controls="round{{ @index + 1 }}-collapse">
									<h4 class="panel-title">
										<input type="radio" name="current-round" value="{{ @index + 1 }}" {{ ( @gameData['current-round'] == @index + 1 ) ? 'checked' : '' }}>
										&nbsp;
										Round #{{ @index + 1 }}
										<span class="pull-right">
											<em>{{ ( isset(@round[@gameData.fields[0]]) ) ? @round[@gameData.fields[0]] : 'null' }}</em>
											&nbsp;
											<button class="btn btn-danger btn-xs" type="button" name="delete-game-round"><i class="fa fa-times"></i></button>
										</span>
									</h4>
				    			</div>
				    			<div id="round{{ @index + 1 }}-collapse" class="panel-collapse collapse {{ ( @gameData['current-round'] == @index + 1 ) ? 'in' : '' }}" role="tabpanel" aria-labelledby="round{{ @index + 1 }}-header">
				    				<div class="panel-body">
				    					
				    					<!--- FIELDS --->
		    							<repeat group="{{ @gameData.fields }}" value="{{ @field }}">
					    					<div class="form-group">
					    						<label for="rounds[{{ @index }}][{{ @field }}]">{{ @field }}</label>
					    						<input type="text" class="form-control" name="rounds[{{ @index }}][{{ @field }}]" value="{{ isset(@POST['edit-game-submit']) ? @POST.rounds[@index][@field] : ( isset(@round[@field]) ) ? @round[@field] : '' }}">
					    					</div>
				    					</repeat>
				    					
				    				</div>
				    			</div>
				    		</div>
				    	</repeat>
				    </true>
				    <false>
				    	<p><em>You need to create game variables first!</em></p>
				    </false>
				</check>
	    	
	    	</div>
	    	
	    	<div id="new-game-round-panel">
	    		<div class="panel panel-info">
		    		<div class="panel-heading" role="tab" id="blank" data-toggle="collapse" data-parent="#game-rounds" href="blank" aria-expanded="true" aria-controls="blank">
						<h4 class="panel-title">
							<input type="radio" name="current-round" disabled>
							&nbsp;
							<span class="title-text">Round #</span>
							<span class="pull-right">
								<em>new</em>
								&nbsp;
								<button class="btn btn-danger btn-xs" type="button" name="delete-game-round"><i class="fa fa-times"></i></button>
							</span>
						</h4>
	    			</div>
	    			<div id="blank" class="panel-collapse collapse" role="tabpanel" aria-labelledby="blank">
			    		<div class="panel-body">
							<repeat group="{{ @gameData.fields }}" value="{{ @field }}">
		    					<div class="form-group">
		    						<label for="blank">{{ @field }}</label>
		    						<input type="text" class="form-control" name="blank" value="">
		    					</div>
							</repeat>
						</div>
					</div>
		    	</div>
	    	</div>
	    	
	    	<check if="{{ count(@gameData.fields) > 0 }}">
	    		<button type="button" name="new-game-round" class="btn btn-info btn-block"><i class="fa fa-plus"></i> &nbsp; New Game Round</button>
	    	</check>
	    </div>
	    
    </div>
</form>