<h1>Games</h1>

<div id="games">
	
	<div class="row">
		<div class="col-sm-8">
			<div class="btn-group">
				<form method="post">
					<button class="btn btn-warning" type="submit" name="update-all-submit" data-toggle="tooltip" data-placement="top" title="Update all games to the next available round"><i class="fa fa-arrow-circle-up"></i> &nbsp; Update All</button>
					<button class="btn btn-success" type="submit" name="update-due-submit" data-toggle="tooltip" data-placement="top" title="Update due and overdue games to the next available round"><i class="fa fa-clock-o"></i> &nbsp; Update Due</button>
				</form>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group pull-right">
				<input type="text" class="form-control search" placeholder="Search games by name...">
				<span class="input-group-btn">
			        <button class="btn btn-primary" data-toggle="modal" data-target="#new-game-modal"><i class="fa fa-plus"></i> &nbsp; New Game</button>
			    </span>
			</div>
		</div>
	</div>
	
	<hr>
	<!-- Display all games -->
	<check if="{{ count(@games) > 0 }}">
		<true>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Game</th>
						<th class="hidden-xs hidden-sm">Category</th>
						<th class="visible-lg">Description</th>
						<th>Round #</th>
						<th class="hidden-xs hidden-sm">Last Updated</th>
						<th>Next Update</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody class="list">
					<repeat group="{{ @games }}" value="{{ @game }}">
						<tr>
							<td class="gamename"><a href="{{ @tcgurl }}games/view/{{ @game.name }}">{{ @gameData[@game.id]['long-name'] }}</a></td>
							<td class="hidden-xs hidden-sm">{{ @gamecat[@game.category] }}</td>
							<td class="visible-lg">{{ @game.description }}</td>
							
							<check if="{{ count(@gameData[@game.id]['rounds']) > 0 }}">
								<true>
									<td class="{{ ( @gameData[@game.id]['current-round'] >= count(@gameData[@game.id]['rounds']) ) ? 'danger' : '' }}">{{ @gameData[@game.id]['current-round'] }} / {{ count(@gameData[@game.id]['rounds']) }}</td>
								</true>
								<false>
									<td>N/A</td>
								</false>
							</check>
							
							<check if="{{ @gameData[@game.id]['schedule-enabled'] }}">
								<true>
									<td class="hidden-xs hidden-sm">{{ date("D, d M Y", @game.updated) }}</td>
									<td class="{{ ( time() > strtotime(@gameData[@game.id]['schedule'], @game.updated) ) ? 'danger' : '' }} {{ ( time() == strtotime(@gameData[@game.id]['schedule'], @game.updated) ) ? 'success' : '' }}">
										{{ date("D, d M Y", strtotime(@gameData[@game.id]['schedule'], @game.updated)) }}
									</td>
								</true>
								<false>
									<td class="hidden-xs hidden-sm">N/A</td><td>N/A</td>
								</false>
							</check>
							
							<td>
								<form method="post">
									<input type="hidden" name="id" value="{{ @game.id }}">
									<input type="hidden" name="dataId" value="{{ @gameData[@game.id]._id }}">
									
									<div class="btn-group btn-cells pull-right" role="group">
										<button type="button" class="btn btn-default" data-game-id="{{ @game.id }}" data-toggle="modal" data-target="#edit-game-modal"><i class="fa fa-pencil"></i></button>
										<button class="btn btn-danger trigger-alert" data-alert-title="Confirm Delete" data-alert-msg="Are you sure that you want to delete the {{ @game.name }} game? This action can't be undone." type="submit" name="delete-game-submit"><i class="fa fa-times"></i></button>
										<button class="btn btn-success trigger-alert" data-alert-title="Confirm Update" data-alert-msg="Are you sure that you want to update the {{ @game.name }} game to the next round?" type="submit" name="update-game-submit" {{ ( count(@gameData[@game.id]['rounds']) == 0 && !@gameData[@game.id]['schedule-enabled'] ) ? 'disabled' : '' }}><i class="fa fa-arrow-up"></i></button>
									</div>
								</form>
							</td>
						</tr>
					</repeat>
				</tbody>
			</table>
		</true>
		<false>
			<p><em>You haven't created any games yet!</em></p>
		</false>
	</check>

</div>

<div class="modal fade" id="new-game-modal" tabindex="-1" role="dialog" aria-labelledby="new-game-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="new-game-modal-label">Add a New Game</h4>
			</div>
			<div class="modal-body">
				
				<include href="app/views/mytcg/games_add_form.htm" />
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" name="new-game-submit" form="new-game-form">Submit</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit-game-modal" tabindex="-1" role="dialog" aria-labelledby="edit-game-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
					<li role="presentation"><a href="#rounds" aria-controls="rounds" role="tab" data-toggle="tab">Rounds</a></li>
				</ul>
			</div>
			<div class="modal-body">
				
				<p>Loading...</p>
			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" name="edit-game-submit" form="edit-game-form">Save</button>
			</div>
		</div>
	</div>
</div>