<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><title>MyTCG Admin Panel</title><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /><link rel="stylesheet" href="style.css" type="text/css" /></head><body><div id="wrapper"><div id="navigation">
<a class="navi" href="affiliates.php">affiliates</a> | 
<a class="navi" href="cards.php">cards</a> | 
<a class="navi" href="games.php">games</a> | 
<a class="navi" href="members.php">members</a> | 
<a class="navi" href="index.php">home</a> | <a class="navi" href="logout.php">logout</a></div><div id="layout"></div><div id="content">