<?php require_once('settings.php');
include('header.php');

$connect = mysql_connect("$db_server", "$db_user", "$db_password");
mysql_select_db("$db_database", $connect);

$create_games = "ALTER TABLE `$table_games` CHANGE `group` `category` VARCHAR(100) NOT NULL";

if (mysql_query($create_games, $connect)) {
   echo "The table $table_games was successfully updated.<br />\n";
}
else {
   die("Error: ". mysql_error());
}

echo "For security purposes, please remove this file from your server!\n";
include('footer.php'); ?>