<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow, noarchive">
		<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

		<title>MyTCG Admin | {{ @tcgname }}</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<link rel="stylesheet" href="{{ @tcguri }}minify/css?files=app/themes/{{ @theme }}/assets/css/admin-login.css{{ ( isset(@ASSETS.css) && !empty(@ASSETS.css) ) ? ',' . implode(',',@ASSETS.css) : '' }}">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="container">
			<check if="{{ isset(@SESSION.flash) }}">
				<repeat group="{{ @SESSION.flash }}" value="{{ @alert }}">
					<div class="alert alert-{{ @alert.type }}" role="alert">{{ @alert.msg }}</div>
				</repeat>
			</check>

			<form class="form-signin" method="post">
				<h2 class="form-signin-heading">MyTCG Login</h2>
				<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
				<button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Sign in</button>
			</form>

		</div>

	</body>
</html>