<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow, noarchive">
		<link rel="icon" href="../../favicon.ico">

		<title>MyTCG Admin | {{ @tcgname }}</title>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="{{ @tcguri }}minify/css?files=app/themes/{{ @theme }}/assets/css/admin-style.css{{ ( isset(@ASSETS.css) && !empty(@ASSETS.css) ) ? ',' . implode(',',@ASSETS.css) : '' }}">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ @adminuri }}">{{ @tcgname }} Admin</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
        				<li><a href="{{ @adminuri }}updates"><small class="{{ ( @version.latest ) ? ( @version.update ) ? 'version-warning' : 'version-stable' : 'version-unknown' }}"><em>MyTCG-f3 {{ @version.current.tag_name }}</em></small></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="navbar-text"><i class="fa fa-user"></i> &nbsp; {{ @SESSION.adminName }}</li>
						<li><a href="{{ @adminuri }}login/logout">Logout</a></li>
					</ul>
					<!--form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
					</form-->
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li {{ !isset(@PARAMS.controller) ? 'class="active"' : '' }}>
							<a href="{{ @adminuri }}">
								Dashboard
								<i class="fa fa-dashboard pull-right"></i>
							</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li {{ isset(@PARAMS.controller) && @PARAMS.controller == 'members' ? 'class="active"' : '' }}>
							<a href="{{ @adminuri }}members">
								Members
								<i class="fa fa-users pull-right"></i>
							</a>
						</li>
						<li {{ isset(@PARAMS.controller) && @PARAMS.controller == 'cards' ? 'class="active"' : '' }}>
							<a href="{{ @adminuri }}cards">
								Cards
								<i class="fa fa-th-large pull-right"></i>
							</a>
						</li>
						<li {{ isset(@PARAMS.controller) && @PARAMS.controller == 'games' ? 'class="active"' : '' }}>
							<a href="{{ @adminuri }}games">
								Games
								<i class="fa fa-gamepad pull-right"></i>
							</a>
						</li>
						<li {{ isset(@PARAMS.controller) && @PARAMS.controller == 'affiliates' ? 'class="active"' : '' }}>
							<a href="{{ @adminuri }}affiliates">
								Affiliates
								<i class="fa fa-link pull-right"></i>
							</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li {{ isset(@PARAMS.controller) && @PARAMS.controller == 'plugins' ? 'class="active"' : '' }}>
							<a href="{{ @adminuri }}plugins">
								Plugins
								<i class="fa fa-puzzle-piece pull-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<check if="{{ isset(@SESSION.flash) }}">
						<repeat group="{{ @SESSION.flash }}" value="{{ @alert }}">
							<div class="alert alert-{{ @alert.type }}" role="alert">{{ @alert.msg }}</div>
						</repeat>
					</check>
			
					<include href="{{ @content }}" />
				</div>
			</div>
		</div>
		
		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					<a href="https://filler00.com/project/mytcg-f3">MyTCG-f3</a> by <a href="http://kablooey.net">Bloo</a> &hearts;
					<br>See <a href="https://github.com/tooblue/mytcg-f3">GitHub</a> for documentation & support.
				</p>
			</div>
		</footer>
		
		<!-- Alert Message Modal -->
		<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-label">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="alert-modal-label">Modal title</h4>
					</div>
					<div class="modal-body">
						<p>Loading...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary alert-continue">Continue</button>
					</div>
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
		
		<script src="{{ @tcguri }}minify/js?files=app/themes/{{ @theme }}/assets/js/admin-scripts.js{{ ( isset(@ASSETS.js) && !empty(@ASSETS.js) ) ? ',' . implode(',',@ASSETS.js) : '' }}"></script>
	</body>
</html>