<h1>Log In</h1>
<p>Need an account? Please head over to the <a href="{{ @tcguri }}join">join form</a>!</p>

<form method="post">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" value="{{ isset(@POST.username) ? @POST.username : '' }}" required>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" name="password" required>
	</div>
	<button type="submit" name="login" class="btn btn-primary">Submit</button> &nbsp; <a href="{{ @tcguri }}members/lostpass">Lost Password?</a>
</form>