<h1>Profile > {{ @member.name }}</h1>

<div class="row">
	<div class="col-sm-2">
		<check if="{{ @member.membercard == 'Yes' }}">
			<true>
				<img src="{{ @tcgcardurl }}mc-{{ strtolower(@member.name) }}" alt="Member Card">
			</true>
			<false>
				<p><em>N/A</em></p>
			</false>
		</check>
	</div>
	<div class="col-sm-5">
		<small><strong>Name</strong></small> &nbsp; {{ @member.name }}
		<br><small><strong>Level</strong></small> &nbsp; {{ @level[@member.level] }}
		<br><small><strong>URL</strong></small> &nbsp; <a href="{{ @member.url }}" target="_blank">{{ @member.url }}</a>
	</div>
	<div class="col-sm-5">
		<small><strong>Status</strong></small> &nbsp; {{ @member.status }}
		<br><small><strong>Collecting</strong></small> &nbsp; <a href="{{ @tcguri }}cards/view/{{ @member.collecting }}">{{ @member.collecting }}</a>
		<br><small><strong>Birthday</strong></small> &nbsp; {{ @member.birthday }}
	</div>
</div>

<p><small><strong>Mastered</strong></small> &nbsp; {{ @member.mastered }}</p>

<div class="row">
	<div class="col-sm-6">
		<h2>About Me</h2>
		<p>{{ @member.biography }}</p>
	</div>
	<div class="col-sm-6">
		<h2>Wishlist</h2>
		<p>{{ @member.wishlist }}</p>
	</div>
</div>