<h1>Regular Cards</h1>
<center>
<?php
for($i=1; $i<=20; $i++) {
	$randtype = 'regular';
	echo "<img src=\"$tcgcardurl";
	include ("mytcg/random.php");
	echo ".$ext\" />\n";
}
?></center>
<br /><br />

<h1>Special Cards</h1>
<center>
<?php
for($i=1; $i<=10; $i++) {
	$randtype = 'special';
	echo "<img src=\"$tcgcardurl";
	include ("mytcg/random.php");
	echo ".$ext\" />\n";
}
?></center>
<br /><br />

<h1>Forum Cards</h1>
<?php
for($i=1; $i<=20; $i++) {
	$randtype = 'regular';
	echo "[img]$tcgcardurl";
	include ("mytcg/random.php");
	echo ".$ext";
	echo "[/img]<br />\n";
}
?>
<br /><br />

<h1>Member Cards</h1>
<center>
<?php
for($i=1; $i<=5; $i++) {
	$randtype = 'member';
	echo "<img src=\"$tcgcardurl";
	include ("mytcg/random.php");
	echo ".$ext\" />\n";
}
?>
</center>